body {
  background: #eee;
  font-family: Arial, Helvetica, sans-serif;
 

}

.card {
  background: #fff;
  width: 600px;
  margin:auto;
  padding: 20px;
}


.title {
  margin-bottom: 20px;
  background: #e3f4ff;
  padding: 10px; 
}

.content {
  background: #e3f4ff;
   margin-bottom: 10px;
  padding: 20px;
  font-size: 16pt;
  
}

.button-container {
  background: #e3f4ff;
  margin-bottom: 25px;
  padding: 10px;
  font-size: 16pt;
  text-align: center;
  
}

button {
  background: white;
  border: 1px solid #eee;
  font-size: 16pt;
  margin-top: 10px;
}